@font-face {
  font-family: roboto-mono;
  src: url(https://webapps1.chicago.gov/cdn/uswds-2.2.1/fonts/roboto-mono/roboto-mono-v5-latin-regular.woff2);
}

* {
  font-family: roboto-mono;
}

body {
  background-color: #353935;
}

header {
  background-color: #555;
}

.cmd-box {
  background-color: #3b3a39;
  font-size: 12px;
  font-weight: 300;
  color: darkgoldenrod;
}

header a {
  text-decoration: none;
  color: #555;
  transition: all 0.3s ease 0s;
}

header a:hover {
  color: #b2dfdb;
}

header a {
  font-family: roboto-mono;
  color: #f79ac0;
}

h1 {
  color: lightgoldenrodyellow;
  font-family: roboto-mono;
  font-size: 14px;
}

h2 {
  color: whitesmoke;
  font-family: roboto-mono;
  font-size: 12px;
}

h3 {
  color: lightgoldenrodyellow;
  font-family: roboto-mono;
  font-size: 10px;
}

p {
  font-family: roboto-mono;
  font-size: 8px;
}

button {
  border: none;
  background-color: white;
  color: #f79ac0;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: roboto-mono;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

select {
  background-color: #4D5153;
  color: cornflowerblue;
}

.big-button {
  background-color: #353935;
  color: whitesmoke;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid black;
  border-color: grey;
  border-radius: 4px;
}

.big-button:hover {
  background-color: #4D5153;
  color: goldenrod;
}

.big-button-selected {
  background-color: #4D5153;
  color: goldenrod;
}

.submit-button {
  background-color: #353935;
  color: cornflowerblue;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid black;
  border-color: grey;
  border-radius: 4px;
}

.submit-cancel-button {
  background-color: #353935;
  font-size: 14px;
  color: goldenrod;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid black;
  border-color: grey;
  border-radius: 4px;
}

.submit-cancel-button:hover {
  background-color: #4D5153;
  color: goldenrod;
}

.clickable-list-item {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: cornflowerblue;
  list-style-type: none;
  border: 1px solid #4D5153;
  border-radius: 2px;
}

.clickable-list-item-selected {
  background-color: cornflowerblue;
  color: lightgoldenrodyellow;
  list-style-type: none;
  border: 1px solid #4D5153;
  border-radius: 2px;
}

.big-label {
  font-size: 10px;
  font-weight: lighter;
  color: whitesmoke;
}

.nested-form {
  border-left: 1px solid #4D5153;
}

img {
  filter: invert(100%);
}

button:hover>img {
  filter: invert(58%) sepia(9%) saturate(2887%) hue-rotate(182deg) brightness(97%) contrast(92%);
}

footer {
  font-size: 6px;
}


#blink_text {
  animation-name: blink;
  width: 280px;
  animation-duration: 2s;
  animation-timing-function: steps();
  animation-iteration-count: Infinite;
}

@keyframes blink {
  0% {
    color: lightgoldenrodyellow;
  }

  50% {
    color: transparent;
  }

  100% {
    color: lightgoldenrodyellow;
  }
}