.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container-vert {
    display: flex;
    flex-direction: column;
}

.nested-form {
  margin-left: 5%;
  padding-left: 3px;
}

/* TODO: look up CSS position sticky */
header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

/* TODO: give meaningful class names to these */
header > h1 {
  flex: 1;
  padding-left: 10px;
}

* {
  box-sizing: border-box;
}

#nav-title {
  margin-right: auto;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}

.button-icon-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
}

.main {
  margin-top: 150px;
  width: 100%;
}

body {
  margin: 0;
}

.clickable-list-item {
  margin: 0px 0px 10px 0px;
  padding: 5px;
}


  
  

  
