.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-container-vert {
  display: flex;
  flex-direction: column;
}

.flex-container-hor {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.nested-form {
  margin-left: 1%;
  padding-left: 3px;
}

ul {
  margin-top: 2px;
  padding-inline-start: 4px;
}

pre {
  padding-bottom: 2px;
  margin-bottom: 2px;
}

h2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

/* TODO: look up CSS position sticky */
header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
}

.cmd-box {
  margin-top: 95.5px;
  position: sticky;
  align-items: center;
  width: 100%;
  margin-top: 5px;
}

/* TODO: give meaningful class names to these */
header>h1 {
  flex: 1;
  padding-left: 10px;
}

select {
  width: 100%;
}

* {
  box-sizing: border-box;
}

#nav-title {
  margin-right: auto;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 2px;
}

.button-icon-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
}

.main {
  margin-top: 60px;
  width: 100%;
}

body {
  margin: 0;
}

.clickable-list-item {
  margin: 0px 0px 10px 0px;
  padding: 5px;
}